* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 10px auto;
    padding: 20px 40px;
    height: 100%;
    position: relative;

}

h1 {
    font-size: 2rem;
    color: #9b170bf5;
    font-weight: bolder;
}

.form-group {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 30px;
    border-radius: 20px;
    width: 80%;
    position: absolute;
    top: 120px;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    /* min-height: 400px; */
    padding: 20px;
}



/* place-content: center; */

/* align-content: center;

align-items: center; */



.input-text {
    border: none;
    padding: 10px;
    border-radius: 5px;
    /* min-width: 20px; */
    width: 90%;

}

input {
    background-color: #f7c2c2;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input::placeholder {
    font-size: medium;
}

button {
    border: none;
    border-radius: 20px;
    padding: 10px 7px;
    border-radius: 5px;
    width: 60px;
    min-width: 50px;
    background-color: #9b170bf5;
    color: white;
    font-weight: bold;
    font-size: 1.05rem;
    cursor: pointer;
    margin-left: 3px;
}

button:hover {
    font-weight: bolder;
    font-size: 1.2rem;
}

.scheduled-task {
    background-color: #f7c2c2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: black;
}



/* .scheduled-group{
    width: 100%;
} */

fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    padding: 1px;
}

fieldset>legend {
    /* text-align: left; */
    margin-left: 40px;
}


ul {
    padding: 10px 0px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    list-style-type: decimal;
    width: 100%;
    padding-left: 40px;

}

.scheduled-task li {
    list-style-image: url("");
    /* color: white; */
    padding: 5px;
    border-top: 2px solid rgba(255, 255, 255, 0.197);
    position: relative;
}

.scheduled-task li .check-square {
    position: absolute;
    right: 50px;
    cursor: pointer;
    top: 10px;
}

.scheduled-task .checked {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.scheduled-task li .trash {
    position: absolute;
    right: 20px;
    cursor: pointer;
    top: 10px;
}


.scheduled-task li .delete {
    opacity: 0;
}